<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="[% settings.charset %]">
        <title>[% settings.appname %]</title>
    </head>
    <body>
        [% content %]
    </body>
</html>
