<h1>What? I don't know that! Auuuuuuuugh!</h1>
<img src="/images/i-dont-know-that.gif" alt="">
<h2>How do you know so much about swallows?</h2>
<h2>Well, you have to know these things when you're a king you know.</h2>
[% PROCESS actions.tt %]
